<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"><tittle>Quizte </title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h2>
<p><%= autor %></p>
</h2>
<img src="/images/yo.jpg"  border="0">
</body>
</html>
